.text {
    margin: 50 75;
    font-family: 'calibri';
    font-weight: bold;
    font-size: 48px;
    color: #2BAE66;
    text-align: center;
  }

  @keyframes rightLeft {
    30% {
      transform: translate(50px, 0px);
    }
    70% {
      transform: translate(-50px, 0px);
    }
  }
  
  @keyframes upDown {
    30% {
      transform: translate(0px, -25px);
    }
    70% {
      transform: translate(0px, 25px);
    }
  }

  .x-axis {
    animation: rightLeft 2s;
  }
  
  .y-axis {
    animation: upDown 1s;
  }